[submodule "mumble"]
	path = mumble
	url = https://github.com/flipdot/mumble.git
[submodule "plugins/botamusique-docker/botamusique"]
	path = plugins/botamusique-docker/botamusique
	url = https://github.com/azlux/botamusique.git
[submodule "gumble"]
	path = gumble
	url = https://github.com/mumble-voip/grumble.git
